<div class="card">
  <p-table [value]="data" [tableStyle]="{'min-width': '50rem'}" rowGroupMode="subheader" groupRowsBy="category">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="3" style="text-align: center;">Toppings</th>
        <th colspan="9" style="text-align: center;">Pizza Size</th>
      </tr>
      <tr>
        <th colspan="2" style="text-align: center;">Small ($5)</th>
        <th colspan="2" style="text-align: center;">Medium ($7)</th>
        <th colspan="2" style="text-align: center;">Large ($8)</th>
        <th colspan="2" style="text-align: center;">Extra Large ($9)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-data>
      <tr pRowGroupHeader>
        <td colspan="12">
          <span class="font-bold ml-2" style="font-weight: bold;">{{data.category}}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
      <tr>
        <td let colIndex="index">{{data.name}} ({{data.price | currency: 'USD'}})</td>
        <td colspan="2" style="text-align: center;" *ngFor="let col of columns; let colIndex=index">
          <p-checkbox
            *ngIf="checkboxState[rowIndex] && checkboxState[rowIndex][colIndex] !== undefined"
            [(ngModel)]="checkboxState[rowIndex][colIndex]"
            (ngModelChange)="checkedData(rowIndex, colIndex, checkboxState[rowIndex][colIndex])"
            [binary]="true"
            [inputId]="'checkbox_' + rowIndex + '_' + colIndex" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="0" class="text-right">Totals</td>
        <td colspan="2" style="text-align: center;">{{smallSizeTotal}}</td>
        <td colspan="2" style="text-align: center;">{{mediumSizeTotal}}</td>
        <td colspan="2" style="text-align: center;">{{largeSizeTotal}}</td>
        <td colspan="2" style="text-align: center;">{{extraLargeSizeTotal}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
